/**     Defaults    **/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Verdana', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/**     The entire Hero Section    **/

.main-hero {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    
}

/**     Header of the hero section    **/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}

.logo {
    font-size: 24px;
    color: greenyellow;
    font-weight: 700;
}

.logo span {
    color: #f9faf8;
    font-style: italic;
}

.header-link {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 24px;
}

.header-link > a {
    color: #e5e7eb;
}

/**     Contents of the hero section    **/

.hero {
    display: flex;
    margin: 50px 100px;
    height: 40vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 20px;
}

.hero-text a {
    font-size: 18px;
    color: #e5e7eb;
    background: #3882f6;
    text-align: center;
    border-radius: 10%;
    width: 120px;
    padding: 5px;
}

.hero-image {
    width: 50%;
}

.hero-image > img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}


/**     Image gallery section    **/
.gallery {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    width: 100%;
    height: 60vh;
    margin-bottom: 80px;
}

.h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    text-align: center;
}

.cards {
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.cards p {
    text-align: center;
    margin-top: 10px;
    width: 180px;
}

.cards > img {
    border: 2px solid #3882f6;
    border-radius: 5%;
    width: 180px;
    height: 200px;
    object-fit: cover;
}

/**     Quote section    **/
.quote-section {
    background: #e5e7eb;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-section p {
    padding: 0 300px;
}

.quotes {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    margin-left: auto;
    margin-top: 20px;
    font-weight: 900;
}

/**     Call to action section    **/
.call-to-action {
    height: 15vh;
    background: #3882f6;
    margin: 50px 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 200px;
}

.divp {
    display: flex;
    flex-direction: column;
}

.order {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.details {
    color: #e5e7eb;
}

.diva {
    margin-left: auto;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 15px;
}

.diva a {
    color: #f9faf8;
    
}

/**     Call to action section    **/
.footer {
    background: #1f2937;
    text-align: center;
    color: #f9faf8;
}

.footer p {
    padding: 25px;
}





















